body {
  box-sizing: border-box;
  background-image: url(/img/background-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

/* header */

.header {
  height: 58px;
  background: rgba(0, 0, 0, 0.40);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 79px;
}

.logo {
  font-size: 22px;
  font-weight: 700;
}

.header-logo {
  transition: .3s;
}

.header-logo:hover {
  color: #3CB878;
  font-size: 20px;
  font-weight: 700;
  opacity: .41;
}

/* icons */

.icon {
  display: flex;
  gap: 24px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: auto;
}

.icon:hover {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.calendar path,
.mail path,
.compass path {
  fill: #fff;
  transition: .3s;
}

.calendar:hover path,
.mail:hover path,
.compass:hover path {
  fill: #3CB878;
  opacity: .41;
}

.compass {
  margin-right: 25px;
}

/* enter */

.enter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.welcome {
  margin-left: 27px;
}

.log-in {
  margin-right: 4px;
  transition: .3s;
}

.sign-up {
  transition: .3s;
}

.log-in:hover,
.sign-up:hover {
  color: #3CB878;
  opacity: 0.41;
}

/* content */

.main {
  width: 444px;
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  margin: 54px auto 74px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.text {
  color: #434343;
  font-size: 20px;
  margin-top: 31px;
}

.text::before {
  content: url(/img/square.svg);
  margin-right: 43px;
}

.main-log-in {
  color: #3CB878;
  font-size: 14px;
  margin: 33px 59px 0 0;
  height: 14px;
  transition: .3s;
}

.main-log-in:hover {
  color: #01813F;
  text-decoration: underline;
}

/* fb+g btn */

.btn-fb-g {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.fb path {
  fill: #305DB8;
  transition: .3s;
}

.fb:hover path {
  fill: #022263;
}

.g path {
  fill: #DF4A32;
  transition: .3s;
}

.g:hover path {
  fill: #AB1F09;
}

/* input */

.registration {
  display: flex;
  justify-content: center;
}

.choise {
  position: relative;
  color: #848484;
  font-size: 14px;
  margin-top: 31px;
  margin-bottom: 11.96px;
}

.choise::before,
.choise::after {
  content: "";
  position: absolute;
  bottom: 6px;
  width: 152px;
  height: 1px;
  background-color: #F2F2F2;
}

.choise::before {
  left: 15px;
}

.choise::after {
  right: 16px;
}

/* fields */

.forms {
  margin: 0 61px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info input {
  color: #434343;
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  height: 44.083px;
  padding-left: 20px;
}

.info input[type="text"]:focus,
.info input[type="email"]:focus,
.info input[type="password"]:focus {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
  outline: none;
}

::placeholder {
  color: #BEBEBE;
}

.radio-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio {
  display: flex;
  align-items: center;
  padding: 12px 72px 20px 0;
  gap: 8px;
}

.square-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #F2F2F2;
  background: rgba(0, 0, 0, 0.00);
}

.square-radio:checked::after {
  content: url(/img/Vector.svg);
}

.txt {
  color: #434343;
  font-size: 14px;
}

.radio-txt {
  color: #3CB878;
  font-size: 14px;
  transition: .3s;
}

.radio-txt:hover {
  color: #01813F;
  font-size: 14px;
  text-decoration: underline;
}

/* end button */

.create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.80);
  width: 324px;
  height: 46px;
  margin-bottom: 38px;
  transition: .3s;
}

.create-btn:hover {
  background: #01813F;
}